<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Habilidades</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="hello.css">
</head>
<body style="background-color:MintCream;">
<div class="menu row" >
    <div class="col"> </div>
    <div class="col-sm-6">
    
    
      <div class="row">
        <div class="col">
          <a href="#sobre">Sobre</a>
        </div>

        <div class="col">
        <a class="container" href="/Habilidades">Habilidades</a>
        </div>

      <div class="col">
        <a class="container" href="/objetivos">Objetivos</a>
      </div>
      <form method="post" th:action="@{/logout}">
        <button type="submit" value="Sair">
            Sair
        </button>
      </form>
</div>
 </div>
<div class="col"> </div>
  </div>
</div>

<h2 style="color:DarkSlateBlue;" align="left" >Habilidades</h2>

<p style="color:DimGray;" align="left"> Design </p>
<img class="design" src="Design.jpg"  height="200" width="400" align="center">
</body>

</html>